@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

/* ZERANDO TUDO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo da tela */

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: #fff;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(img/Background-Body.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    /* display: flex;
    flex-direction: column;
    align-content: center; */
}

.header {
    padding: 5px;
}

.menu-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-menu ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.header-menu ul a {
    text-decoration: none;
    color: #fff;
}

button {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    width: 200px;
    height: 40px;
}